body {
background-color: white;
color: black; 
font-family: Arial,Calibri,sans-serif;
font-size: 100%;
margin: 0;
padding: 0;
}

ul, ol, li {
margin: 0;
padding: 0;
}

h1 {
  color: black;
}

li {
  font-size: 80%;
  line-height: 1.2;
  margin-bottom: 5px;
}

.legende {
  font-size: 11px;
}

a {
color: blue;
font-family: Arial,Calibri,sans-serif;
font-size: 90%;
}
a:hover {
color: orange;
}
