body {
background-color: white;
color: black; 
font-family: Arial,Calibri,sans-serif;
font-size: 100%;
margin-right: 70px;
margin-left: 50px;
line-height: 1.3;
padding: 0;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul, ol, li {
margin: 0;
padding: 0;
}

h1 {
  color: black;
}

li {
  font-size: 80%;
  line-height: 1.2;
  margin-bottom: 5px;
}

.legende {
  font-size: 11px;
}

a {
color: blue;
font-family: Arial,Calibri,sans-serif;
font-size: 90%;
}
a:hover {
color: orange;
}

.pages{
  border: 1px solid red;
}

