body {
background-color: white;
color: black; 
font-family: Arial,Calibri,sans-serif;
font-size: 16px;
text-align: justify;
margin-right: 70px;
margin-left: 50px;
line-height: 1.5;
padding: 50px;
}

#imageintro {
  background-image: url("/Alchemy/image/09-10-HighgateEast_02_2.jpg");
  background-size: cover;
  background-position: relative;
  height: 300px;
  width: 100%;
  padding: 50px;
}

#titreintro {
 color: white;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px
  border: 3px solid white;
}

#texteintro {
  padding: 40px;
  text-align: center;
  width: 400px;
    font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px;

ul, ol, li {
margin: 0px 30px 0px 60px;
padding: 0;
}

h1 {
  color: black;
}

li {
  font-size: 80%;
  line-height: 1.2;
  margin-bottom: 5px;
}

.legende {
  font-size: 11px;
}

a {
color: blue;
font-family: Arial,Calibri,sans-serif;
font-size: 90%;
}
a:hover {
color: orange;
}

.pages-titre{
box-sizing: border-box;
border: 1px solid red;
  width: 80%;
line-height: 1.5;
background-color: Linen;
padding: 30px;
}

.pages-paragraphe{
box-sizing: border-box;
    border: 1px solid red;
    background-color: LightGray;
    padding: 30px;
    width: 80%;
line-height: 1.5;
}

.image-responsive {
  max-width: 100%;
  height: auto;
}

